<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Forecaster</title>
    <link rel="stylesheet" th:href="@{/styles/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script th:src="@{/scripts/multiselect-dropdown.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>

</head>

<body>
<header >
    <h1>Football Forecaster</h1>
</header>

<main>


    <div class="container">
        <div class="search-section">
            <h2>Pick 2 teams</h2>
        </div>

        <div class="dropdown-container">
            <div class="dropdown">
                <form class="form1" id="form1">
                    <input class="search-bar" type="search" id="query" name="q" placeholder="Search...." readonly>
                    <button type="button" onclick="toggleDropdown(event, 'teamDropdown1')" class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <!-- TEMPLATE LITERAL -->
                <div id="teamDropdown1" class="dropdown-content" style="display:none;">
                    <ul>
                        <li th:each="team : ${teams}">
                            <a href="#"
                               th:attr="onclick=|document.getElementById('query').value = '${team.displayName}';
                               document.getElementById('query').setAttribute('data-id', '${team.id}');
                               document.getElementById('query').setAttribute('short', '${team.abbreviation}');
                               const dropdown = document.getElementById('teamDropdown1');
                               dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';|"
                               th:text="${team.displayName}"></a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <form class="form2" id="form2">
                    <input class="search-bar" type="search" id="query2" name="q" placeholder="Search...." readonly>
                    <button type="button" onclick="toggleDropdown(event, 'teamDropdown2')" class="dropbtn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div id="teamDropdown2" class="dropdown-content" style="display:none;">
                    <ul>
                        <li th:each="team : ${teams}">
                            <a href="#"
                               th:attr="onclick=|document.getElementById('query2').value =  '${team.displayName}';
                                 document.getElementById('query2').setAttribute('data-id', '${team.id}');
                                 document.getElementById('query2').setAttribute('short', '${team.abbreviation}');
                                const dropdown = document.getElementById('teamDropdown2');
                                dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';|"
                               th:text="${team.displayName}"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <button class = "findbttn"
        onclick="findGameDates()">
            Find Game Dates
        </button>
        <div class="calendar-section">
            <h2>Select Game Date</h2>
            <input type="text" id="game-date" class="calendar-input" placeholder="Pick a date" >
        </div>
        <div id="game-list" style="display: none;"></div>

    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
<script>

</script>
</body>

</html>
